.article {
  margin-bottom: 40px;

  .article__wrapper {
    display: flex;
    align-items: center;
  }

  .article__image {
    width: 50%;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $light-gray;
    &:hover {
      opacity: 0.9;
    }

    &:after {
      content: "";
      display: table;
      width: 100%;
      padding-bottom: 70%;
    }
  }

  .article__content {
    width: 60%;
    padding: 50px;
    margin-left: -10%;
    z-index: 1;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);

    .article__tag {
      font-size: 12px;
      letter-spacing: 0.5px;
      font-weight: 700;
      text-transform: uppercase;
        padding: 4px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
    }


    .article__title {
      margin-bottom: 20px;
      font-size: 30px;
      
      a {
        color: $dark;
        &:hover {
          color: $black;
        }
      }
    }

    .article__excerpt {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 26px;
    }

    .article__meta {
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: $gray;
    }

    .article__footer {
      display: flex;
      align-items: center;

      .read-more {
        margin-left: auto;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        color: $gray;
        &:hover {
          color: $dark;
          border-color: $brand-color;
        }
      }
    }
  }

  .article-without-image {
    width: 100%;
    margin-left: auto;
  }

  @media only screen and (max-width: $tablet) {
    .article__wrapper {
      flex-direction: column;
    }

    .article__image {
      width: 100%;
    }

    .article__content {
      width: 90%;
      padding: 20px;
      margin: -10% 0 0 0;
    }

    .article-without-image {
      width: 90%;
      margin: 0;
    }
  }

  @media only screen and (max-width: $mobile) {
    .article__content {

      .article__title {
        font-size: 27px;
      }
    }
  }
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html {
  font-size: 18px;
}
@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

.center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.right {
  float: right;
  width: 100%;
}

.quote {
  font-size: 1.25rem;
  font-style: italic;
  padding: 2rem;
}

pre {
  overflow: auto;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

code table {
  margin: -1rem;
}

td pre {
  padding: 0rem;
}

.embed-container {
  height: 0;
  margin-bottom: 2rem;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.anchorjs-link {
  color: #313131;
}
.anchorjs-link:hover {
  text-decoration: none;
}
*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
}

/*****************************************************************************/
/*
/* sidebar
/*
/*****************************************************************************/

.sidebar {
  font-size: 0.8rem;
}

.sidebar-nav-item {
  letter-spacing: calc(0.08em);
  text-transform: uppercase;
}

.sidebar .social-icons a {
  color: rgba(255, 255, 255, 0.6);
  padding-right: 0.5em;
}

.sidebar .social-icons a:hover {
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2rem;
  padding: 0;
}

ul.posts li {
  padding: 0.2rem 0;
}

ul.posts li span {
  color: silver;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

.page .social-icons {
  text-align: center;
}

.page .social-icons a {
  color: #515151;
  padding: 10px;
}

/*****************************************************************************/
/*
/* Tags
/*
/*****************************************************************************/

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
}

.tag-box:before, .tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}

.tag-box:after {
  clear: both;
}

.tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
}



.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}
.aa{
    max-width: 32rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.dd{
      max-width: 32rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.cc{
  background: #f5f5f5;
  padding: 50px;
}

.bb{
  margin-bottom: 4em;
}
/*****************************************************************************/
/*
/* specialty
/*
/*****************************************************************************/

.grails-travis {
  /*display: table;*/
  vertical-align: middle;
}

.grails-travis img {
  display: inline;
  max-height: 200px;
  vertical-align: middle;
  width: 28%;
}

.grails-travis span {
  font-size: 475%;
  position: relative;
  /*padding-bottom: 40%;*/
  top:10px;
}

.spring-mybatis {
  vertical-align: middle;
}

.spring-mybatis img {
  display: inline;
  max-height: 200px;
  vertical-align: middle;
  width: 28%;
}

.spring-mybatis span {
  font-size: 300%;
  position: relative;
  /*padding-bottom: 40%;*/
  top:5px;
}

img[src$='#collector-coverage'] {
  display: inline;
  margin: 0 1px -3px 0;
}