/* Pagination */
.pagination {
  margin-top: 40px;

  @media only screen and (max-width: $mobile) {
    margin-top: 0;
  }
}

.pagination__list {
  text-align: center;

  .previous-link,
  .next-link,
  .prev-disabled,
  .next-disabled {
    display: inline-block;
    color: #212121;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-right: 1px solid #eee;
  }

  .next-link,
  .next-disabled {

    border-right: none;
  }

  .prev-disabled,
  .next-disabled  {
    color: #c6c6c6;
  }
}