---
layout: default
---
<div class="container" style="margin-top: 70px;">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				{% for page2 in site.pages %}
					{% if page2.url == page.url %}
						<h4 class="lates-title"><strong>{{page2.title}}</strong></h4>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	  	{% assign category = page.category | default: page.title %}
  		{% for post in site.categories[category] %}
			{% include article-content.html %}
		{% endfor %}

	</div>
</div>

